@CHARSET "UTF-8";
/**
*Einsamer
*Css 
*/

body {
	background-color: #DDFFFF;
}

.redrow{
	background-color: #E07A7A;
	color:white;
}

.img-container img{
	
	width: 300px;
	height: 300px;
}

/* header config*/
.header-img {
	width:100%;
}